.consomme {
    background: none;
    display: inline-flex;
    height: 15px;
    width: 15px;
    margin: 1px;
    border-style: solid;
    border-width: 1px;
}

.restantPourRetraite {
    background: #E59A17;
    display: inline-flex;
    height: 15px;
    width: 15px;
    margin: 1px;
    border-style: solid;
    border-width: 1px;
}

.restantApresRetraite {
    background: #33C4FF;
    display: inline-flex;
    height: 15px;
    width: 15px;
    margin: 1px;
    border-style: solid;
    border-width: 1px;
}

.numLigne {
    display: inline-block;
    width: 20px; /* Ajuste la largeur selon tes besoins */
    text-align: left;
    margin: 1px;
}

.centrer {
    text-align: center;
}

#control-window {
    position: fixed;
    top: 100px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: left;
}

#control-window label {
    display: block;
    margin-bottom: 5px;
}
